.services {
    height: 550px;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
}

.content {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentService {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    text-align: center;
}

.title {
    color: #292929;
    font-size: 42px;
    font-weight: 900;
}

.text {
    width: 70%;
    font-size: 18px;
    color: #4f4f4fff;
}

.contentIcons {
    display: flex;
    /* flex: 1; */
    width: 100%;
    justify-content: space-around;
}

.subcontentIcon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subcontentIcon label {
    margin-top: 20px;
    width: 160px;
    font-size: 20px;
    color: #4f4f4fff;
}

.icon{
    color: #E0752F;
    font-size: 60px;
}

@media only screen and (max-width: 720px) {
    .icon{
        font-size: 40px;
    }

    .subcontentIcon label{
        font-size: 16px;
    }

    .contentIcons{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px){
    .services{
        height: auto;
    }

    .content{
        height: auto;
        margin-bottom: 20px;
    }

    .title{
        font-size: 32px;
    }
    
    .text{
        font-size: 16px;
    }
}