.products {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.divText {
    text-align: center;
}

.title {
    color: #292929;
    font-size: 42px;
    font-weight: 900;
    margin-top: 0;
}

.text {
    color: #E0752F;
    font-size: 26px;
    font-weight: 700;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px;
    gap: 15px;
    flex-wrap: wrap;
    width: 90%;
}