.about {
    display: flex;
    align-items: center;
    height: 700px;
}

.content {
    height: 500px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bar {
    background-color: #E0752F;
    width: 25px;
}

.img {
    width: 380px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    align-items: flex-start;
    margin-left: 10%;
}

.title{
    color: #292929;
    font-size: 42px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.subtitle{
    color: #E0752F;
    margin-top: 0;
    padding-top: 0;
}

.text {
    color: #4f4f4fff;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: justify;
    margin-right: 25px;
    font-size: 18px;
}


@media only screen and (max-width: 900px){
    .img{
        margin-left: 0;
    }

    .info{
        margin-left: 5%;
    }
    
}

@media only screen and (max-width: 720px){
    .title{
        font-size: 32px;
    }

    .subtitle{
        font-size: 18px;
    }

    .text{
        line-height: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .img{
        display: none;
    }
}