.home {
  width: 100%;
  height: 900px;
  max-width: 1600px;
  max-height: 1000px;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  width: 60px;
  height: 70px;
  border: none;
  border-radius: 40%;
  background-color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev span {
  color: orange;
}

.next span {
  color: orange;
}

.item {
  position: absolute;
  top: 97px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1400px;
  max-width: 1600px;
  max-height: 800px;
  border-radius: 10px;
}

.data {
  position: absolute;
  top: calc(30%);
  left: 10vw;
  width: 50%;
}

.title {
  color: white;
  font-size: 38px;
}

.phrase {
  color: white;
  font-size: 16px;
}

.readBtn {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: white;
  background: #e0752f;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .home {
    background-image: url(../../assets/bgmobile.jpg);
  }

  .data {
    width: 90%;
    left: 6px;
  }

  .title {
    font-size: 22px;
  }
  .phrase {
    font-size: 14px;
  }
  .readBtn {
    width: 100px;
    height: 38px;
    font-size: 14px;
  }

  .next,
  .prev {
    top: calc(75%);
    width: 40px;
    height: 45px;
  }

  .item {
    display: none;
  }

  .prev {
    left: 30%;
  }

  .next {
    right: 30%;
  }
}
