.footer {
    background-color: rgb(82, 82, 82);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1{
    color: #e3e3e3;
    font-size: 36px;
}

.div2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.link {
    color: #e2e2e2;
    text-decoration: none;
    margin: 0;
    margin-left: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 920px) {
    .div2 {
        flex-direction: column;
        font-size: 18px;
    }
}